@model LinkGenerationModel
@{
}

<div class="card">
    <div class="card-header">
        <h2>Link generated</h2>
    </div>
    <div class="card-body">
        <a href="@Model.EncodeResult">@Model.EncodeResult</a>
    </div>
</div>
